[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=application/pdf;
Actions=qualityPDF

[Desktop Action qualityPDF]
Name=Change Quality PDF
Name[de]=PDF Qualität ändern
Icon=application-pdf
Exec=/usr/bin/pdfForts/qualityPDF.sh %F
