[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=application/pdf;image/*;
Actions=stampPDF

[Desktop Action stampPDF]
Name=Stamp documents and create PDF
Name[de]=Dokumentenstempel hinzufügen und PDF kreieren
Icon=application-pdf
Exec=stampPDF.sh %F
