[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=application/pdf;
Actions=searchablePDF

[Desktop Action seachablePDF]
Name=Create searchable PDF
Name[de]=Durchsuchbares PDF erstellen
Icon=application-pdf
Exec=/usr/bin/pdfForts/searchablePDF.sh %F
