[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=application/pdf;
Actions=addPasswdPDF

[Desktop Action addPasswdPDF]
Name=Add password to PDF
Name[de]=PDF mit Passwort versehen
Icon=application-pdf
Exec=addPasswdPDF.sh %F
